//
// Variables
//

.navbar-mainnavigation {
  --mainnavigation-nav-height: 90px;
}

@media (min-width: 576px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 90px;
  }
}

@media (min-width: 768px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 90px;
  }
}

@media (min-width: 992px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 100px;
  }
}

@media (min-width: 1200px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 110px;
  }
}
@media (min-width: 1400px) {
  .navbar-mainnavigation {
    --mainnavigation-nav-height: 110px;
  }
}

$dark-bg: #000;

:root {
  --bs-body-color: #e0e0e0;
  --bs-body-bg: #000;
  --cardgroup-gap: 1.5rem;
  --bs-body-font-size: 1.25rem;

    --cookieconsent-zindex: 1080;
    --cookieconsent-bg: #1b1b1b;
    --cookieconsent-color: #ffffff;
    --cookieconsent-link-color: #549fe9;
    --cookieconsent-button-bg: #000;
    --cookieconsent-button-highlight-bg: transparent;
}
